In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.9 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=ff8417e67d2ec2220b2512722b8294bd1607f89f507f079e743c1e5e130e7ea3
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, FloatType
from pyspark.sql.functions import col, count, when, isnan, split, size, array_min, array_max, array_distinct, to_timestamp

import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
spark = SparkSession \
    .builder \
    .appName("Yelp Review Sense") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 21:52:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
!tar -xvzf /kaggle/input/yelp-reviews/yelp_dataset.tgz

Dataset_User_Agreement.pdf
yelp_academic_dataset_business.json
yelp_academic_dataset_checkin.json
yelp_academic_dataset_review.json
yelp_academic_dataset_tip.json
yelp_academic_dataset_user.json

## Prepare User Dataset

<img src="https://github.com/yashraizada/yelp-review-sense/blob/main/images/Yelp%20User%20Profile.png?raw=true"/>

In [5]:
df_user = spark.read.json('yelp_academic_dataset_user.json')

In [6]:
df_user.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [7]:
df_user.describe().toPandas()

23/09/21 21:55:54 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,summary,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,compliment_profile,compliment_writer,cool,elite,fans,friends,funny,name,review_count,useful,user_id,yelping_since
0,count,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897,1987897
1,mean,3.63049415035087,2.8293080577112395,0.13364927860950543,2.8293080577112395,1.8070724992290847,0.06390723463036566,0.29226313033321144,1.4431346292086562,1.226859339291724,3.0118411567601338,0.17931764070271247,1.056448095650831,23.792913817969442,2017.220760233918,1.4657404282012598,None,16.970536199813168,NaN,23.394409267683386,42.29633527290398,None,None
2,stddev,1.1833369995975145,96.66385446471259,11.356823097797161,96.66385446471259,73.60184094967366,10.04362659411937,12.824667119930178,60.16790049259038,95.1575129716489,119.38980389840354,15.155253377853501,32.17972805346817,565.3512954713351,4.09363504648036,18.13075272385579,None,407.8034374841018,NaN,82.56699161797889,641.4805967755902,None,None
3,min,1.0,0,0,0,0,0,0,0,0,0,0,0,0,,0,"---2PmXbF47D870stH1jqA, AgkO3LoVmmW6NyMZdHQmSw...",0,Chris,0,0,---1lKK3aKOuomHnwAkAow,2004-10-12 08:46:11
4,max,5.0,49967,13654,49967,25784,12669,13501,59031,82630,101097,14180,15934,199878,2021,12497,"zzzOOwSYzuTPvsafSCzDPw, djDWZw59RlGHuXKw20kyzQ...",185823,Ｊｏａｎｎｅ,17473,206296,zzzUFM4HFe0SFG0bPjntQA,2022-01-19 17:15:47

In [8]:
df_user.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_user.columns]).show()

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-----+----+-------+-----+----+------------+------+-------+-------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|cool|elite|fans|friends|funny|name|review_count|useful|user_id|yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-----+----+-------+-----+----+------------+------+-------+-------------+
|            0|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|   0|    0|   0|      0|    0| 198|           0|     0|      0|            0|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+-----+----+-------+-----+----+------------+------+-------+-------------+

## Data Preparation

### 1. Consolidating Compliment Columns
The compliment columns, such as "compliment_cool," "compliment_cute," and others, contain information about various types of compliments that users have received or given. Consolidating multiple compliment columns into one will simplify the dataset, enhance interpretability, and reduce redundancy, facilitating a more comprehensive understanding of user engagement.

### 2. Combining Interaction Columns
For the same reasons as consolidating the compliments columns, combining the 'useful,' 'funny,' and 'cool' columns into 'total_interactions'

### 3. Extracting Information from "Elite" and "Friends" Columns
The "elite" and "friends" columns are of string data type containing multiple values (years and user IDs, respectively) delimited by a comma. They are not inherently informative for meaningful analysis. To enable a more robust analysis, we can extract information such as the number of elite years, number of friends, etc.

### 4. Dropping Redundant Columns
The "name" column is redundant and needs to be dropped.

### 5. Optimizing Data Types
The data types for the 'fans,' 'review_count,' 'total_compliments,' and 'total_interactions' columns are not the most efficient representations for the data they contain. Changing to Integer as it better aligns with the nature of the data and optimizes memory usage.

In [9]:
# 1. Consolidating Compliment Columns
compliment_columns = [
    'compliment_cool', 'compliment_cute', 'compliment_funny','compliment_hot', 'compliment_list', 'compliment_more',
    'compliment_note', 'compliment_photos', 'compliment_plain','compliment_profile', 'compliment_writer'
]

df_user = df_user.withColumn('total_compliments', sum(col(col_name) for col_name in compliment_columns))
df_user = df_user.drop(*compliment_columns)

In [10]:
# 2. Combining Interaction Columns
interaction_columns = ['useful', 'funny', 'cool']

df_user = df_user.withColumn('total_interactions', sum(col(col_name) for col_name in interaction_columns))
df_user = df_user.drop(*interaction_columns)

In [11]:
# 3. Extracting Information from "Elite" and "Friends" Columns
df_user = df_user.withColumn('elite_years_array', split(df_user['elite'], ","))
df_user = df_user.withColumn('elite_years_count', when(df_user['elite'] != "", size(df_user['elite_years_array'])).otherwise(0)) \
                 .withColumn('elite_min_year', when(df_user['elite'] != "", array_min(df_user['elite_years_array']).cast('integer')).otherwise(0)) \
                 .withColumn('elite_max_year', when(df_user['elite'] != "", array_max(df_user['elite_years_array']).cast('integer')).otherwise(0))

df_user = df_user.withColumn('friends_list', split(df_user['friends'], ","))
df_user = df_user.withColumn('friends_count', size(array_distinct(df_user['friends_list'])))

columns_to_drop = ['elite', 'elite_years_array', 'friends', 'friends_list']
df_user = df_user.drop(*columns_to_drop)

In [12]:
# 4. Dropping Redundant Columns
columns_to_drop = ['name']
df_user = df_user.drop(*columns_to_drop)

In [13]:
# 5. Optimizing Data Types
int_columns = ['fans', 'review_count', 'total_compliments', 'total_interactions']

for col_name in int_columns:
    df_user = df_user.withColumn(col_name, df_user[col_name].cast(IntegerType()))
    
df_user = df_user.withColumn('yelping_since', to_timestamp(df_user['yelping_since'], 'yyyy-MM-dd HH:mm:ss'))

In [14]:
df_user.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- fans: integer (nullable = true)
 |-- review_count: integer (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: timestamp (nullable = true)
 |-- total_compliments: integer (nullable = true)
 |-- total_interactions: integer (nullable = true)
 |-- elite_years_count: integer (nullable = false)
 |-- elite_min_year: integer (nullable = true)
 |-- elite_max_year: integer (nullable = true)
 |-- friends_count: integer (nullable = false)

In [15]:
column_order = [
    "user_id",
    "yelping_since",
    "review_count",
    "average_stars",
    "fans",
    "friends_count",
    "total_interactions",
    "total_compliments",
    "elite_years_count",
    "elite_min_year",
    "elite_max_year"
]

df_user = df_user.select(column_order)
df_user.show(5)

+--------------------+-------------------+------------+-------------+----+-------------+------------------+-----------------+-----------------+--------------+--------------+
|             user_id|      yelping_since|review_count|average_stars|fans|friends_count|total_interactions|total_compliments|elite_years_count|elite_min_year|elite_max_year|
+--------------------+-------------------+------------+-------------+----+-------------+------------------+-----------------+-----------------+--------------+--------------+
|qVc8ODYU5SZjKXVBg...|2007-01-25 16:47:26|         585|         3.91| 267|        14995|             14470|             2873|                1|          2007|          2007|
|j14WgRoU_-2ZE1aw1...|2009-01-25 04:35:42|        4333|         3.74|3138|         4646|             83438|            20631|               14|            20|          2021|
|2WnXYQFK0hXEoTxPt...|2008-07-25 10:41:00|         665|         3.32|  52|          381|              4099|              585|                5|          2009|          2013|
|SZDeASXq7o05mMNLs...|2005-11-29 04:38:33|         224|         4.27|  28|          131|              1141|              136|                3|          2009|          2011|
|hA5lMy-EnncsH4JoR...|2007-01-05 19:40:59|          79|         3.54|   1|           27|                51|                4|                0|             0|             0|
+--------------------+-------------------+------------+-------------+----+-------------+------------------+-----------------+-----------------+--------------+--------------+
only showing top 5 rows

## Prepare Business Dataset

<img src="https://github.com/yashraizada/yelp-review-sense/blob/main/images/Yelp%20Business%20Profile.png?raw=true"/>

In [16]:
df_business = spark.read.json('yelp_academic_dataset_business.json')

In [17]:
df_business.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [18]:
# Dropping 'attributes' and 'hours' cppulmns to help streamline the dataset and focus on the most relevant variables

struct_columns_to_drop = ['attributes', 'hours']
df_business = df_business.drop(*struct_columns_to_drop)

In [19]:
df_business.describe().toPandas()

,summary,address,business_id,categories,city,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,count,150346,150346,150243,150346,150346,150346,150346,150346,150346,150346,150346,150346
1,mean,7369.333333333333,None,None,None,0.7961502135075094,36.67115006414555,-89.35733948971415,1252.4,45177.81755426108,44.86656113232144,3.5967235576603303,None
2,stddev,8738.777641447725,None,None,None,0.4028599390900641,5.872758917014038,14.918501679930618,811.1275005954502,26395.88208585655,121.12013570117061,0.9744207509201364,None
3,min,,---kPU91CF4Lq2-WlRu9Lw,"3D Printing, Local Services, Hobby Shops, Shop...",AB Edmonton,0,27.555127,-120.095137,Grow Academy,,5,1.0,AB
4,max,​185 E State St,zzyx5x0Z7xXWWvWnZFuxlQ,"Zoos, Tours, Arts & Entertainment, Hotels & Tr...",​Lithia,1,53.6791969,-73.2004570502,​​Transformational Abdominal Massage by Jada D...,T9E 0V3,7568,5.0,XMS

In [20]:
df_business.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_business.columns]).show()

+-------+-----------+----------+----+-------+--------+---------+----+-----------+------------+-----+-----+
|address|business_id|categories|city|is_open|latitude|longitude|name|postal_code|review_count|stars|state|
+-------+-----------+----------+----+-------+--------+---------+----+-----------+------------+-----+-----+
|      0|          0|       103|   0|      0|       0|        0|   0|          0|           0|    0|    0|
+-------+-----------+----------+----+-------+--------+---------+----+-----------+------------+-----+-----+

## Data Preparation

### 1. Dropping Redundant Columns
The "address", "attributes", "is_open", and "hours" columns are redundant and needs to be dropped. The "categories" column is not inherently informative for meaningful analysis.

### 2. Optimizing Data Types
The data types for the "latitude," "longitude," and "stars" columns are not the most efficient representations for the data they contain. Float aligns better. Similarly, "review_count" is converted to Integers.

In [21]:
# 1. Dropping Redundant Columns
columns_to_drop = ['address', 'categories', 'is_open']
df_business = df_business.drop(*columns_to_drop)

In [22]:
# 2. Optimizing Data Types

# Convert latitude, longitude, and stars to float
df_business = df_business.withColumn('latitude', df_business['latitude'].cast(FloatType()))
df_business = df_business.withColumn('longitude', df_business['longitude'].cast(FloatType()))
df_business = df_business.withColumn('stars', df_business['stars'].cast(FloatType()))

# Convert review_count to integer
df_business = df_business.withColumn('review_count', df_business['review_count'].cast(IntegerType()))

In [23]:
df_business.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: integer (nullable = true)
 |-- stars: float (nullable = true)
 |-- state: string (nullable = true)

In [24]:
column_order = [
    "business_id",
    "name",
    "city",
    "state",
    "postal_code",
    "latitude",
    "longitude",
    "stars",
    "review_count"
]

df_business = df_business.select(column_order)
df_business.show(5)

+--------------------+--------------------+-------------+-----+-----------+---------+-----------+-----+------------+
|         business_id|                name|         city|state|postal_code| latitude|  longitude|stars|review_count|
+--------------------+--------------------+-------------+-----+-----------+---------+-----------+-----+------------+
|Pns2l4eNsfO8kk83d...|Abby Rappoport, L...|Santa Barbara|   CA|      93101|34.426678|  -119.7112|  5.0|           7|
|mpf3x-BjTdTEA3yCZ...|       The UPS Store|       Affton|   MO|      63123|38.551125|  -90.33569|  3.0|          15|
|tUFrWirKiKi_TAnsV...|              Target|       Tucson|   AZ|      85711|32.223236|-110.880455|  3.5|          22|
|MTSW4McQd7CbVtyjq...|  St Honore Pastries| Philadelphia|   PA|      19107|39.955505|  -75.15556|  4.0|          80|
|mWMc6_wTdE0EUBKIG...|Perkiomen Valley ...|   Green Lane|   PA|      18054|40.338184|  -75.47166|  4.5|          13|
+--------------------+--------------------+-------------+-----+-----------+---------+-----------+-----+------------+
only showing top 5 rows

## Prepare Review Dataset

<img src="https://github.com/yashraizada/yelp-review-sense/blob/main/images/Sample%20Review.png?raw=true"/>

In [25]:
df_review = spark.read.json('yelp_academic_dataset_review.json')

In [26]:
df_review.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [27]:
df_review.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_review.columns]).show()

+-----------+----+----+-----+---------+-----+----+------+-------+
|business_id|cool|date|funny|review_id|stars|text|useful|user_id|
+-----------+----+----+-----+---------+-----+----+------+-------+
|          0|   0|   0|    0|        0|    0|   0|     0|      0|
+-----------+----+----+-----+---------+-----+----+------+-------+

In [28]:
# Consolidating multiple interactions columns

columns_to_combine = ['useful', 'funny', 'cool']
df_review = df_review.withColumn('total_interaction', sum(col(col_name) for col_name in columns_to_combine))
df_review = df_review.drop(*columns_to_combine)

In [29]:
# Correcting data types and optimizing memory usage

df_review = df_review.withColumn('total_interaction', df_review['total_interaction'].cast(IntegerType()))
df_review = df_review.withColumn('date', to_timestamp(df_review['date'], 'yyyy-MM-dd HH:mm:ss'))

In [30]:
column_order = [
    'review_id',
    'business_id', 
    'user_id', 
    'date',
    'stars', 
    'text', 
    'total_interaction'
]

df_review = df_review.select(column_order)
df_review.show(5)

+--------------------+--------------------+--------------------+-------------------+-----+--------------------+-----------------+
|           review_id|         business_id|             user_id|               date|stars|                text|total_interaction|
+--------------------+--------------------+--------------------+-------------------+-----+--------------------+-----------------+
|KU_O5udG6zpxOg-Vc...|XQfwVwDr-v0ZS3_Cb...|mh_-eMZ6K5RLWhZyI...|2018-07-07 22:09:11|  3.0|If you decide to ...|                0|
|BiTunyQ73aT9WBnpR...|7ATYjTIgM3jUlt4UM...|OyoGAe7OKpv6SyGZT...|2012-01-03 15:28:18|  5.0|I've taken a lot ...|                2|
|saUsX_uimxRlCVr67...|YjUWPpI6HXG530lwP...|8g_iMtfSiwikVnbP2...|2014-02-05 20:30:30|  3.0|Family diner. Had...|                0|
|AqPFMleE6RsU23_au...|kxX2SOes4o-D3ZQBk...|_7bHUi9Uuf5__HHc_...|2015-01-04 00:01:03|  5.0|Wow!  Yummy, diff...|                2|
|Sx8TMOWLNuJBWer-0...|e4Vwtrqf-wpJfwesg...|bcjbaE6dDog4jkNY9...|2017-01-14 20:54:15|  4.0|Cute interior and...|                2|
+--------------------+--------------------+--------------------+-------------------+-----+--------------------+-----------------+
only showing top 5 rows

## Prepare Check-in Dataset

In [31]:
df_checkin = spark.read.json('yelp_academic_dataset_checkin.json')

In [32]:
df_checkin.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- date: string (nullable = true)

In [33]:
df_checkin.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_checkin.columns]).show()

+-----------+----+
|business_id|date|
+-----------+----+
|          0|   0|
+-----------+----+

In [34]:
# Extract the oldest and newest date of check-ins

df_checkin = df_checkin.withColumn('date_list', split(df_checkin['date'], ','))
df_checkin = df_checkin.withColumn('checkin_count', size(df_checkin['date_list']))
df_checkin = df_checkin.withColumn('checkin_date_min', to_timestamp(array_min(df_checkin['date_list'])))
df_checkin = df_checkin.withColumn('checkin_date_max', to_timestamp(array_max(df_checkin['date_list'])))

columns_to_drop = ['date', 'date_list']
df_checkin = df_checkin.drop(*columns_to_drop)
df_checkin.show(5)

+--------------------+-------------+-------------------+-------------------+
|         business_id|checkin_count|   checkin_date_min|   checkin_date_max|
+--------------------+-------------+-------------------+-------------------+
|---kPU91CF4Lq2-Wl...|           11|2020-06-02 22:18:06|2020-03-13 21:10:56|
|--0iUa4sNDFiZFrAd...|           10|2011-05-04 23:08:15|2010-09-13 21:43:09|
|--30_8IhuyMHbSOcN...|            2|2014-08-13 23:20:22|2013-06-14 23:29:17|
|--7PUidqRWpRSpXeb...|           10|2011-07-28 02:46:10|2011-02-15 17:12:00|
|--7jw19RH9JKXgFoh...|           26|2014-04-28 21:04:46|2014-04-21 20:42:11|
+--------------------+-------------+-------------------+-------------------+
only showing top 5 rows

## Prepare Tip Dataset

In [35]:
df_tip = spark.read.json('yelp_academic_dataset_tip.json')

In [36]:
df_tip.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- compliment_count: long (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- user_id: string (nullable = true)

In [37]:
df_tip.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_tip.columns]).show()

+-----------+----------------+----+----+-------+
|business_id|compliment_count|date|text|user_id|
+-----------+----------------+----+----+-------+
|          0|               0|   0|   0|      0|
+-----------+----------------+----+----+-------+

In [38]:
df_tip = df_tip.withColumn("compliment_count", df_tip["compliment_count"].cast(IntegerType()))
df_tip = df_tip.withColumn('date', to_timestamp(df_tip['date'], 'yyyy-MM-dd HH:mm:ss'))

In [39]:
df_tip.show(5)

+--------------------+----------------+-------------------+--------------------+--------------------+
|         business_id|compliment_count|               date|                text|             user_id|
+--------------------+----------------+-------------------+--------------------+--------------------+
|3uLgwr0qeCNMjKenH...|               0|2012-05-18 02:17:21|Avengers time wit...|AGNUgVwnZUey3gcPC...|
|QoezRbYQncpRqyrLH...|               0|2013-02-05 18:35:10|They have lots of...|NBN4MgHP9D3cw--Sn...|
|MYoRNLb5chwjQe3c_...|               0|2013-08-18 00:56:08|It's open even wh...|-copOvldyKh1qr-vz...|
|hV-bABTK-glh5wj31...|               0|2017-06-27 23:05:38|Very decent fried...|FjMQVZjSqY8syIO-5...|
|_uN0OudeJ3Zl_tf6n...|               0|2012-10-06 19:43:09|Appetizers.. plat...|ld0AperBXk1h6Ubqm...|
+--------------------+----------------+-------------------+--------------------+--------------------+
only showing top 5 rows

## Merge Dataset

In [40]:
df = df_review.select(
    col("review_id"),
    col("user_id"),
    col("business_id"),
    col("date").alias("review_date"),
    col("stars").alias("review_stars"),
    col("text").alias("review_text"),
    col("total_interaction").alias("review_total_interaction")
)

df = df.join(
    df_user.select(
        col("user_id"),
        col("yelping_since").alias("user_yelping_since"),
        col("review_count").alias("user_review_count"),
        col("average_stars").alias("user_average_stars"),
        col("fans").alias("user_fans"),
        col("friends_count").alias("user_friends_count"),
        col("total_interactions").alias("user_total_interactions"),
        col("total_compliments").alias("user_total_compliments"),
        col("elite_years_count").alias("user_elite_years_count"),
        col("elite_min_year").alias("user_elite_min_year"),
        col("elite_max_year").alias("user_elite_max_year")
    ),
    on="user_id",
    how="left"
)

df = df.join(
    df_business.select(
        col("business_id"),
        col("name").alias("biz_name"),
        col("city").alias("biz_city"),
        col("state").alias("biz_state"),
        col("postal_code").alias("biz_postal_code"),
        col("latitude").alias("biz_latitude"),
        col("longitude").alias("biz_longitude"),
        col("stars").alias("biz_stars"),
        col("review_count").alias("biz_review_count")
    ),
    on="business_id",
    how="left"
)

df = df.join(
    df_checkin.select(
        col("business_id"),
        col("checkin_count").alias("checkin_count"),
        col("checkin_date_min").alias("checkin_date_min"),
        col("checkin_date_max").alias("checkin_date_max")
    ),
    on="business_id",
    how="left"
)

df.show()

+--------------------+--------------------+--------------------+-------------------+------------+--------------------+------------------------+-------------------+-----------------+------------------+---------+------------------+-----------------------+----------------------+----------------------+-------------------+-------------------+--------------------+----------------+---------+---------------+------------+-------------+---------+----------------+-------------+-------------------+-------------------+
|         business_id|             user_id|           review_id|        review_date|review_stars|         review_text|review_total_interaction| user_yelping_since|user_review_count|user_average_stars|user_fans|user_friends_count|user_total_interactions|user_total_compliments|user_elite_years_count|user_elite_min_year|user_elite_max_year|            biz_name|        biz_city|biz_state|biz_postal_code|biz_latitude|biz_longitude|biz_stars|biz_review_count|checkin_count|   checkin_date_min|   checkin_date_max|
+--------------------+--------------------+--------------------+-------------------+------------+--------------------+------------------------+-------------------+-----------------+------------------+---------+------------------+-----------------------+----------------------+----------------------+-------------------+-------------------+--------------------+----------------+---------+---------------+------------+-------------+---------+----------------+-------------+-------------------+-------------------+
|-3e3CP3FFc-rvJj_-...|--2vR0DIsmQ6WfcSz...|m3QNG3Ni7--EsiFv3...|2015-02-19 05:08:44|         4.0|Da uns der erste ...|                     302|2012-11-27 14:19:33|             1534|              4.18|      880|              3982|                 578739|                133351|                    10|                 20|               2021|      Penn's Landing|    Philadelphia|       PA|          19106|   39.960022|    -75.13715|      3.5|              80|          594|2010-07-04 01:17:32|2010-07-02 23:27:44|
|5quqExjLtFNhykec_...|2XKlUjHGk9z-2ckFM...|IfZRREGtKdjLBTQZU...|2012-09-11 16:58:15|         2.0|Please please ple...|                       2|2012-05-06 16:17:55|              731|              3.95|      136|               489|                   3540|                   693|                    11|                 20|               2021|Bombay Palace Res...|       Nashville|       TN|          37203|    36.14451|    -86.81379|      4.0|             476|          851|2010-02-12 19:18:56|2010-01-17 02:45:41|
|CJ3t6dw60CdpflWKe...|-tIU61x9-zg1zjlJ3...|Lv83IvJ7Vl6EYj131...|2019-12-03 18:15:14|         1.0|We went there las...|                       0|2010-11-10 19:24:24|               27|              3.74|        0|                 6|                     26|                     0|                     0|                  0|                  0|            Benihana|Plymouth Meeting|       PA|          19462|    40.11639|   -75.279205|      2.5|             240|          296|2010-08-01 22:18:47|2010-07-15 23:12:04|
|MNnCUYhi8JGEF7isb...|4uiTSfCDRKIWYT51K...|hAKD2O0t9wg6y2pj2...|2019-02-04 23:55:02|         4.0|Stopped in Form &...|                       0|2014-05-27 19:32:49|              146|              3.78|       27|               319|                    480|                   107|                     4|                 20|               2019|     Form & Function|           Boise|       ID|          83702|   43.611725|  -116.202736|      4.0|             101|          197|2017-08-05 15:26:17|2017-08-05 15:24:27|
|OWOOc0YjU_kioLeEg...|2SW5InRnbwIcjdxol...|3BfzJ030rvW9Q-waB...|2017-09-15 15:57:42|         1.0|Most disgusting p...|                       0|2015-02-05 05:45:43|               15|              3.93|        0|                 7|                      5|                     1|                     0|                  0|                  0|       Loveless Cafe|       Nashville|       TN|          37221|   36.035175|   -86.972015|      4.5|            2452|         3727|2010-02-27 15:25:08|2010-02-04 00:00:03|
|QU5SwQ7NxIJdueL_M...|3ejldZvVELYdHFkVk...|qMx5JvEpCHccboyN3...|2017-10-27 21:05:33|         5.0|Off the beaten pa...|                       0|2013-01-16 13:22:08|               43|              4.23|        0|                13|                     35|                     2|                     0|                  0|                  0|    Bistro Albertino|    Willow Grove|       PA|          19090|    40.15124|    -75.11425|      4.5|             139|          122|2012-04-25 21:34:21|2012-03-25 17:48:00|
|T4SBFuxY23-6JsKOr...|00xGfvalJOhzGMxbq...|diB1VykEW3lmAuajJ...|2009-11-25 22:04:02|         4.0|Why would you go ...|                       0|2009-11-25 17:00:08|               32|              3.61|        3|                 5|                     65|                     5|                     0|                  0|                  0|The Black Dog Fre...|        Edmonton|       AB|        T6E 2A1|   53.518215|   -113.49924|      4.0|              48|          172|2011-04-20 00:03:25|2011-02-26 02:18:14|
|TyxDzw8S02endZrrS...|4DKWZqosj6bhu9U96...|Cpii8I_QMWLqCM9Zs...|2017-09-05 21:28:24|         1.0|the young girl ac...|                       2|2017-08-14 21:49:07|                1|               1.0|        0|                 1|                      2|                     0|                     0|                  0|                  0|  Venus Nail and Spa|       Nashville|       TN|          37203|   36.144527|    -86.81404|      3.5|             138|           44|2011-05-25 18:39:59|2011-04-29 14:42:46|
|Xxo2JLzEtRhzmE29k...|2GdKEMhXh7xeFXB7c...|GJXcYrfz4N7Hkapyb...|2013-01-13 02:28:34|         4.0|This is a really ...|                       2|2009-05-02 02:17:02|              103|              3.86|        5|               133|                    185|                    28|                     2|               2013|               2014|Saturday Morning ...|  St. Petersburg|       FL|          33701|   27.769987|    -82.63358|      4.5|             186|          776|2010-10-23 16:32:32|2010-10-02 15:55:02|
|dHYGLQkSxp8nFyzyd...|4381-bSqHKt_tF5PQ...|QskFOjM4oRJTuFaU_...|2015-01-19 16:24:40|         2.0|This location is ...|                       1|2013-08-14 00:53:37|              175|              3.67|        4|                35|                    260|                    23|                     3|               2014|               2016|           Starbucks|  St. Petersburg|       FL|          33710|   27.771168|   -82.728096|      3.0|              45|          449|2010-09-20 17:36:09|2010-09-16 12:36:38|
|goXz8V980-WFIreZR...|4Q-nWKm4_t1UgImW3...|MGuVuTo9XDgXwHHCE...|2017-04-08 00:41:55|         1.0|My original post ...|                       0|2016-01-16 13:43:34|                8|              2.56|        0|                 1|                      7|                     0|                     0|                  0|                  0|          317 Burger|    Indianapolis|       IN|          46220|    39.87054|    -86.14242|      4.0|             422|          693|2013-12-08 01:28:01|2013-12-08 01:23:17|
|hVi4_rFTj0fsbfxa4...|2FG_8qjI_IAV5pEVk...|gd_DutOaujHobN9HZ...|2015-12-29 19:55:42|         4.0|Great little plac...|                       0|2012-08-30 15:36:49|               20|               4.2|        0|                 1|                     12|                     1|                     0|                  0|                  0|  Costa's Restaurant|  Tarpon Springs|       FL|          34689|   28.154554|    -82.76048|      3.5|             189|          216|2011-01-29 17:08:49|2011-01-29 17:04:07|
|nC46s-L4KIcYQ_HmQ...|33qdjvUesOUv4Q7DR...|74zHjNSFdRXCp3LgF...|2020-08-15 00:46:30|         4.0|We visited last w...|                       1|2015-09-14 19:50:01|              163|              4.33|        9|                79|                    351|                   106|                     6|                 20|               2021|Juicy Seafood Ind...|    Indianapolis|       IN|          46250|    39.91194|    -86.06847|      4.0|              72|           60|2020-02-07 20:38:15|2020-01-31 22:54:12|
|nzn8r9dpFKYKh6LSW...|0VEa2DL9eO1llMk4w...|vO2di5SRG7nO-Y0dC...|2016-02-15 04:55:18|         5.0|What is Kaia Fit?...|                      20|2012-10-29 04:10:02|              155|              4.37|       24|               292|                   1191|                   348|                     3|               2015|               2017|Kaia FIT Sierra -...|          Sparks|       NV|          89436|    39.58022|   -119.72312|      5.0|               9|          561|2015-12-28 15:04:20|2015-12-23 15:17:07|
|otQS34_MymijPTdNB...|4Uh27DgGzsp6PqrH9...|UBp0zWyH60Hmw6Fsa...|2011-10-27 17:12:05|         4.0|The bun makes the...|                       2|2009-09-29 22:24:04|               50|              4.27|        2|                40|                    329|                    44|                     2|               2011|               2012|            BK Tacos|          Tucson|       AZ|          85719|   32.255833|  -110.960556|      4.0|             492|         1075|2010-05-23 02:02:29|2010-02-09 19:22:48|
|sihT-_DtwOdnDDDJb...|1ji4PRst-aiIBNLJv...|5ccwbPyBnnS1UnDME...|2017-04-16 01:32:43|         1.0|Worse beer tour I...|                       0|2013-07-30 18:12:47|               22|              2.87|        1|                 1|                     21|                     0|                     0|                  0|                  0|  Cigar City Brewing|           Tampa|       FL|          33607|   27.958601|   -82.509346|      4.5|             876|         4116|2010-05-07 23:00:24|2010-05-07 22:36:11|
|tR9azg_Dx8EfV1CBv...|0lV6XSKZ_Aiwx85iM...|xQHDzJmxur3WFCRJq...|2010-03-06 23:33:36|         1.0|SORELY disappoint...|                      15|2009-05-05 18:53:00|               72|               2.7|        7|                29|                    723|                    81|                     0|                  0|                  0|                 Pho|            Reno|       NV|          89511|   39.465267|    -119.7811|      3.5|             353|          862|2010-03-20 20:19:40|2010-03-05 19:56:44|
|ta5Oi3sezvn4H299M...|3oYvVqRpoPequAq_P...|PDRVVJMVwZ4YbzesR...|2017-03-24 17:53:02|         2.0|Not as great as w...|                       0|2017-03-10 22:19:58|               17|              3.68|        0|                 1|                      7|                     0|                     0|                  0|                  0|The Carousel Bar ...|     New Orleans|       LA|          70130|   29.954115|   -90.068146|      4.0|            1390|         6365|2010-02-21 19:42:42|2010-02-21 00:12:05|
|tthy48ZIX_wfY8Dy0...|4TpuhZYMTmVqSaXKl...|aoPS8gMiUFTqscsVw...|2014-01-06 00:59:41|         5.0|The entrees were ...|                       0|2011-02-26 04:40:04|              169|              4.52|        6|                56|                    328|                    43|                     4|               2016|               2021|             Bouchon|   Santa Barbara|       CA|          93101|   34.423985|   -119.70586|      4.5|            1452|         1527|2010-03-15 01:04:00|2010-01-27 02:43:30|
|4dTLWrSe0GN_GrMZ1...|5N7-UqSgVYMW68Zo1...|8sZv6asRsjIif3es4...|2014-12-26 20:57:15|         5.0|Hooters is the sa...|                       0|2013-10-05 02:22:38|                8|               4.3|        0|                 1|                      8|                     1|                     0|                  0|                  0|             Hooters|        Metairie|       LA|          70006|   30.004791|    -90.18974|      3.0|              94|          603|2010-07-11 16:48:59|2010-06-16 00:06:35|
+--------------------+--------------------+--------------------+-------------------+------------+--------------------+------------------------+-------------------+-----------------+------------------+---------+------------------+-----------------------+----------------------+----------------------+-------------------+-------------------+--------------------+----------------+---------+---------------+------------+-------------+---------+----------------+-------------+-------------------+-------------------+
only showing top 20 rows